/* 헤더 수정영역 */
.gnb-box li{
  color: #fff;
}
header .btn-contact {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 25px;
}

/* 바디 영역 */
.wrap{position: relative;}
.content{
  width: 100%;
}
main{
  width: 100%;
  height: 700px;
  position: relative;
}
main .banner-box{
  background: url(/img/photo-banner-company.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
main .text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  /* left: calc((100% - 1280px)/2); */
  transform: translate(-50%,-50%);
}
main .text-box h1{
  font-size: 80px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
main .text-box p{
  width: 1000px;
  font-size: 22px;
  font-weight: 200;
  color: #fff;
  text-align: center;
}

/* 섹션 영역 */
/* section{border: 1px solid black;} */
section{margin-top: 80px;}
section.about{}
section.about>.about-info{
  display: flex;
}
.about-info img{
  width: 200px;
  object-fit: contain;
}
.about .text-box{
  margin-left: 50px;
  max-width: 1000px;
}
.about .text-box h2{
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 50px;
}
.about .text-box p{
  color: #000;
  font-size: 18px;
}
.about .text-box p:last-of-type{
  font-size: 24px;
  font-weight: 600;
}
.about .text-box i{
  color: var(--color-main);
}
section.newsroom{margin-top: 100px;}
section.newsroom h2{
  font-size: 56px;
  font-weight: 700;
  color: #000;
}
section.newsroom span{
  font-size: 20px;
}
.news-box{
  margin-top: 50px;
}
.news-ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.news-ul li p{
  height: 100px;
  padding: 10px;
}
button.btn-more{
  color: var(--color-main);
  font-weight: 600;
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
}
section.history{margin-top: 100px;}
section.history h2{
  font-size: 56px;
  font-weight: 700;
  color: #000;
}
section.history span{
  font-size: 20px;
}
.year-box{
  margin-top: 50px;
}
.year-box>div{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.elv .year{
  font-size: 100px;
  font-weight: 800;
  color: #ececec50;
  width: 400px;
  transition: all 3s ease 0s;
}
.elv .year.on{
  color: #000;
}
.year-box ul li{
  color: #000;
  font-size: 22px;
  font-weight: 300;
  line-height: 2.5rem;
}
section.location{margin-top: 100px;}
section.location h2{
  font-size: 56px;
  font-weight: 700;
  color: #000;
}
.location .text-box{
  margin: 100px 0 20px;
  justify-content: space-between;
}
.location .address-box{
  color: #000;
  margin-top: 50px;
}
.location .address-box p{
  font-size: 34px;
  font-weight: 700;
}
.location span{
  display: flex;
  justify-content: flex-end;
}
.location span i{
  color: var(--color-main);
}
.google-map{
  width: 100%;
}
#map{height: 600px;}
.gm-style-iw-chr .gm-ui-hover-effect>span {background-color: var(--color-main);}
.gm-style-iw-chr button.gm-ui-hover-effect{width: unset !important;height: unset !important;}
.gm-style-iw-chr button.gm-ui-hover-effect span{width: 20px !important;height: 20px !important;margin: 3px !important;}

@media (max-width: 768px) {
  .content {
    width: 100%;
    margin-top: 0;
  }
  .inner{width: 90%;}
  main {
    width: 100%;
    height: 70vh;
  }
  main .banner-box {
    background-position: right;
  }
  main .text-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .text-box h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  main .text-box p {
    width: auto;
    text-align: center;
    font-size: 18px;
  }
  section.about{
    position: relative;
    margin-top: 0;
  }
  section.about>.about-info {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  .about-info img {
    width: 120px;
    object-fit: contain;
  }
  .about-info .text-box{
    margin-top: 30px;
    margin-left: 0;
  }
  .about .text-box h2 {
    font-size: 24px;
    text-align: center;
    margin: 30px 0;
  }
  .about .text-box p:last-of-type {
    font-size: 18px;
    font-weight: 600;
  }
  section.newsroom {
    margin-top: 50px;
  }
  section.newsroom h2 {
    font-size: 36px;
    text-align: center;
  }
  section.newsroom span {
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: inline-block;
  }
  .news-box {
    margin-top: 20px;
  }
  .news-ul {
    display: block;
  }
  .news-ul img {
    border-radius: 15px;
  }
  .news-ul a {
    display: block;
  }
  .news-ul li p {
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
  }
  button.btn-more {
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    font-weight: 600;
    width: 100%;
    margin-top: 0;
    padding: 10px;
  }
  section.history {
    margin-top: 50px;
  }
  section.history h2 {
    font-size: 36px;
    text-align: center;
  }
  section.history>span {
    width: 100%;
    font-size: 14px;
    text-align: center;
    display: inline-block;
  }
  .year-box>div {
    display: block;
  }
  .year-box .year {
    font-size: 40px;
    font-weight: 800;
    color: #ececec50;
  }
  .year-box ul li {
    font-size: 16px;
    line-height: 2rem;
  }
  section.location {
    margin-top: 50px;
  }
  section.location h2 {
    font-size: 36px;
    text-align: center;
  }
  .location .address-box {
    margin: 50px 0 20px;
  }
  .location .address-box p {
    font-size: 20px;
    font-weight: 700;
  }
  .location span{
    display: block;
    font-size: 14px;
    text-align: end;
  }
  #map{height: 400px;}
}