/* 헤더 수정영역 */
.gnb-box li{
  color: #fff;
}
header .btn-contact {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 25px;
}

.mob-partner-li{display: none;}
.content {
  width: 100%;
}
main {
  width: 100%;
  height: 500px;
  position: relative;
}
main .banner-box {
  background: url(/img/photo-partner-banner.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
main span {
  color: #fff;
  font-size: 80px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content-box{margin-top: 80px;}
.partner-wrap>li{
  display: flex;
  margin-bottom: 120px;
}
.partner-wrap .img-box{
  width: 20%;
}
.partner-wrap>li:nth-of-type(2) img{
  width: 150px;
  display: block;
  object-fit: contain;
  max-width: unset;
}
.partner-wrap .img-box img{
  width: 200px;
  display: block;
  object-fit: contain;
  max-width: unset;
}
.partner-wrap .text-box{
  width: 80%;
}
.partner-wrap .text-box p:first-of-type{
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
.partner-wrap .text-box p{
  margin-bottom: 20px;
}
.partner-wrap .banner-box{
  display: flex;
}
.partner-wrap .banner-box li{
  margin-right: 20px;
}
.partner-wrap .banner-box img{
  height: 50px;
  object-fit: contain;
}
.partner-wrap .banner-box:first-of-type li img{height: 60px;}

@media (max-width: 768px) {
  /* overflow 적용 시 sticky X */
  .wrap{overflow: unset;} 
  .content-box{margin-top: 0;}
  .content {
    width: 100%;
    margin-top: 0;
  }
  main {
    width: 100%;
    height: 50vh;
  }
  main .banner-box {
    width: 100%;
    height: 50vh;
    background: url(/img/photo-partner-banner.png) no-repeat;
    background-position-x: center;
  }
  main span {
    font-size: 32px;
    height: 100%;
  }
  .inner{width: 90%;}
  .mob-partner-li {
    display: flex;
    position: sticky;
    top: 0;
    background: #ffffff;
    padding: 40px 0;
  }
  .mob-partner-li li.on{
    background-color: var(--color-main);
    color: #fff;
    border-radius: 50px;
  }
  .mob-partner-li li{
    color: var(--color-text-01);
    padding: 5px 15px;
    margin: 0 auto;
  }
  .partner-wrap>li{
    border: 1px solid #eee;
    border-radius: 15px;
    display: block;
    margin-bottom: 10px;
    padding: 20px 10px;
  }
  .partner-wrap .img-box{
    margin-bottom: 30px;
  }
  .partner-wrap .text-box {
    width: 100%;
  }
  .partner-wrap .text-box p:first-of-type {
    font-size: 18px;
    font-weight: 500;
  }
  .partner-wrap .banner-box img {
    height: 50px;
    display: block;
    object-fit: contain;
    max-width: unset;
  }
  .partner-wrap .banner-box li{
    margin-right: 10px;
  }
}