/* 헤더 영역 */
.wrap{}
header{
  height: 100px;
  background: var(--color-primary-light);
  padding-bottom: 10px;
  box-sizing: border-box;
}
header .inner{
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
h1.h-logo{
  height: 30px;
}
h1.h-logo img{
  height: 100%;
}
nav{}
.gnb-box{  
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.gnb-box a{
  display: flex;
  padding: 5px 20px;
}

/* 바디 영역 */
.content{
  width: 100%;
}
/* 메인 배너 영역 */
main{
  margin: 0 auto;
}
.main-banner{
  padding: 100px;
}
.main-banner img{
  width: 280px;
  object-fit: contain;
}
.banner-wrap{
  margin-left: 50px;
}
.main-banner .banner-1 p{
  font-size: 48px;
  font-weight: 800;
  color: #000;
  line-height: 1.25em;
  text-wrap-mode: nowrap;
}
.banner-1 .btn-learn{
  border-radius: 25px;
  width: 160px;
  height: 40px;
  background-color: var(--color-main);
  color: #fff;
}
.slide-desc button{
  color: var(--color-text-01);
  font-size: 14px;
  padding: 0 50px;
}

/* 메인 컨텐츠 영역 */
/* 프러덕트 영역 */
/* .content-box{border: 1px solid black;} */
.m-product{margin: 100px 0;}
.m-product h2{
  font-size: 36px;
  font-weight: 700;
  color: var(--color-main);
  margin-bottom: 50px;
}
.product-ul{
  justify-content: space-between;
}
.product-ul li{
  position: relative;
}
.product-ul li img{
  width: 540px;
  height: 350px;
  object-fit: cover;
}
.product-ul span{
  color: var(--color-primary-light);
  font-size: 15px;
  left: 15px;
  top: 310px;
  text-decoration: underline;
}
.product-ul h3{
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 30px;
}
.product-ul h3 i{
  font-size: 18px;
}
.product-ul p{
  font-size: 15px;
  margin: 20px 0;
}
.product-ul .context-box{
  margin-left: 15px;
}
.product-ul .btn-read{
  border-radius: 25px;
  width: 160px;
  height: 40px;
  background-color: var(--color-main);
  color: #fff;
}

/* 서비스 영역 */
.m-service{
  margin-bottom: 100px;
  background-color: #eeeeee80;
  border-radius: 50px;
  padding-bottom: 50px;
}
.m-service span{
  color: var(--color-primary-light);
  font-weight: 500;
  display: block;
  text-align: center;
  padding: 50px 0 20px;
}
.m-service h3{
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.m-service p{
  text-align: center;
}
.service-ul{justify-content: space-around;}
.service-ul li{
  margin: 50px;
  width: 250px;
}
.service-ul img{
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
.service-ul span{
  color: #000;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.service-ul p{
  /* margin: 20px 0; */
  text-align: center;
}
.m-service .btn-lrn{
  border-radius: 25px;
  width: 160px;
  height: 40px;
  color: var(--color-main);
  background-color: #fff;
  margin: 0 auto;
  font-weight: 500;
}

/* 파트너 영역 */
.m-partner{
  margin-bottom: 150px;
}
.m-partner h3{
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.m-partner p{
  text-align: center;
}
/* .m-partner strong{
  font-weight: 600;
} */
.partner-ul{
  margin-top: 80px;
  justify-content: space-around;
}
/* .partner-ul>li{
  background-color: #eeeeee80;
  border-radius: 50px;
  padding:50px 20px 50px;
  box-sizing: border-box;
} */
.partner-ul img{
  display: inline-block;
  object-fit: contain;
  height: 35px;
  margin-bottom: 20px;
}
.partner-context{
  width: 300px;
  border-top: 2px solid #777;
  padding-top: 20px;
}
.partner-context span{
  font-size: 24px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
}
.partner-context .ul-style{
  margin-left: 15px;
  font-size: 0.9em;
  line-height: 2em;
}

/* 고객 영역 */
/* .m-customer{border: 1px solid black;}  */
.m-customer h3{
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.m-customer strong{
  color: var(--color-main);
}
.m-customer p{
  text-align: center;
  margin-bottom: 50px;
}
.cus-bar{
  justify-content: space-around;
  background-color: #eeeeee50;
  border-radius: 50px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.cus-bar li{
  border-radius: 50px;
  padding: 15px 24px;
  margin: 8px 0;
  font-weight: 500;
}
.cus-bar li.on{
  background-color: var(--color-main);
  color: #fff;
}
.cus-logo{
  width: 75%;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}
.grid-ul{
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: minmax(10px, auto); */
}
.grid-ul li img{
  width: 80%;
  object-fit: contain;
  display: inline-block;
}

/* 디무브 하단 배너 영역 */
article{
  background-color: #ccc;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* 파트너즈 하단 띠 영역 */
.f-partner{
  width: 90%;
  margin: 0 auto;
}
.fp-logo-ul li{
  width: 100%;
  padding: 0 10px;
}
.fp-logo-ul img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fp-logo-ul li.ats-size{
  width: 56%;
}
.fp-logo-ul li.zab-size{
  width: 56%;
}
.fp-logo-ul li.mat-size{
  width: 80%;
}

/* 푸터영역 */
footer{
  background-color: #444;
  height: 400px;
  color: #fff;
  font-size: 12px;
}
.f-top{
  justify-content: space-between;
  height: 80%;
}
.f-top li{
  font-size: 12px;
}
h1.f-logo{
  height: 30px;
}
h1.f-logo img{
  height: 100%;
}
.f-btm{
  height: 20%;
  border-top: 2px solid #000;
  justify-content: space-between;
}
.sns-link{}
.sns-link li{
  border: 1px solid red;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.sns-link img{
  display: block;
  object-fit: contain;
  width: 100%;
}

/* 반응형 */
@media (min-width: 375px) and (max-width: 768px) {

}