/* 헤더 영역 */
body.hidden{
  /* overflow: hidden; */
  height: 100vh;
}
.wrap{
  width: 100%;
  overflow: hidden;
}
header{
  height: 100px;
  background: var(--color-primary-light);
  padding-bottom: 10px;
  box-sizing: border-box;
}
header .inner{
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
h1.h-logo{
  height: 30px;
}
h1.h-logo img{
  height: 100%;
}
nav{}
.gnb-mob-box{display: none;}
.gnb-box{  
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.gnb-box a{
  display: flex;
  padding: 5px 20px;
  word-break: keep-all;
  text-wrap-mode: nowrap;
}

/* 바디 영역 */
.content{
  width: 100%;
}
/* 메인 배너 영역 */
main{
  margin: 0 auto;
}
.main-banner{
  padding: 0 100px;
  margin: 100px 0;
  box-sizing: border-box;
}
.main-banner img{
  width: 30%;
  object-fit: contain;
}
.banner-wrap{
  margin-left: 50px;
  margin-top: 5%;
}
.main-banner .banner-1{
  /* border: 1px solid black; */
}
.main-banner .banner-1 p{
  font-size: 48px;
  font-weight: 800;
  color: #000;
  line-height: 1.25em;
  text-wrap-mode: nowrap;
}
.banner-1 .btn-learn{
  border-radius: 25px;
  width: 160px;
  height: 40px;
  background-color: var(--color-main);
  color: #fff;
}
.slide-desc button{
  color: var(--color-text-01);
  font-size: 14px;
  padding: 0 50px;
  word-break: keep-all;
  text-wrap-mode: nowrap;
}
main li.swiper-slide{
  display: flex;
}

/* swiper1 메인배너 */
main.swiper{
  width: 100%;
  height: 100%;
}
main .swiper-button-next, main .swiper-button-prev{
  color: var(--color-main);
}

/* 메인 컨텐츠 영역 */
/* 프러덕트 영역 */
/* .content-box{border: 1px solid black;} */
.m-product{
  margin-bottom: 100px;
}
.m-product h2{
  font-size: 36px;
  font-weight: 700;
  color: var(--color-main);
  margin-bottom: 50px;
}
.product-ul{
  justify-content: space-between;
}
.product-ul li{
  position: relative;
}
.product-ul li img{
  width: 540px;
  height: 350px;
  object-fit: cover;
}
.product-ul span{
  color: var(--color-primary-light);
  font-size: 15px;
  left: 15px;
  top: 310px;
  text-decoration: underline;
}
.product-ul h3{
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 30px;
}
.product-ul h3 i{
  font-size: 18px;
}
.product-ul p{
  font-size: 15px;
  margin: 20px 0;
}
.product-ul .context-box{
  margin-left: 15px;
}
.product-ul .btn-read{
  border-radius: 25px;
  width: 160px;
  height: 40px;
  background-color: var(--color-main);
  color: #fff;
}

/* 서비스 영역 */
.m-service{
  margin-bottom: 100px;
  background-color: #eeeeee80;
  border-radius: 50px;
  padding-bottom: 50px;
}
.m-service span{
  color: var(--color-primary-light);
  font-weight: 500;
  display: block;
  text-align: center;
  padding: 50px 0 20px;
}
.m-service h3{
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.m-service p{
  text-align: center;
  font-size: 16px;
}
.service-ul{justify-content: space-around;}
.service-ul li{
  margin: 50px;
  width: 250px;
}
.service-ul img{
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
.service-ul span{
  color: #000;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.service-ul p{
  /* margin: 20px 0; */
  text-align: center;
}
.m-service .btn-lrn{
  border-radius: 25px;
  width: 160px;
  height: 40px;
  color: var(--color-main);
  background-color: #fff;
  margin: 0 auto;
  font-weight: 500;
}

/* 파트너 영역 */
.partner-station{
  width: 100%;
  height: 100%;
}
.m-partner{
  margin-bottom: 150px;
}
.m-partner h3{
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.m-partner p{
  text-align: center;
}
/* .m-partner strong{
  font-weight: 600;
} */
.partner-ul{
  margin-top: 80px;
  justify-content: space-around;
}
.partner-ul>li{
  /* border: 1px solid black; */
  width: auto;
}
.partner-ul img{
  display: inline-block;
  object-fit: contain;
  height: 35px;
  margin-bottom: 20px;
}
.partner-context{
  width: 300px;
  border-top: 2px solid #777;
  padding-top: 20px;
}
.partner-context span{
  font-size: 24px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
}
.partner-context .ul-style{
  margin-left: 15px;
  font-size: 0.9em;
  line-height: 2em;
}

/* 고객 영역 */
/* .m-customer{border: 1px solid black;}  */
.cus-bar-mob{display: none;}
.m-customer h3{
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.m-customer strong{
  color: var(--color-main);
}
.m-customer p{
  text-align: center;
  margin-bottom: 50px;
}
.cus-bar{
  justify-content: space-around;
  background-color: #eeeeee50;
  border-radius: 50px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.cus-bar li{
  border-radius: 50px;
  padding: 15px 24px;
  margin: 8px 0;
  font-weight: 500;
}
.cus-bar li.on{
  background-color: var(--color-main);
  color: #fff;
}
.cus-logo{
  width: 75%;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}
.grid-ul{
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: minmax(10px, auto); */
}
.grid-ul li img{
  width: 80%;
  object-fit: contain;
  display: inline-block;
}

/* 디무브 하단 배너 영역 */
article{
  background: url("/img/contact-banner.png") 50% 50% no-repeat;;
  width: 90%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 50px;
}
article p{
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-top: 60px;
}
article .btn-contact{
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

/* 파트너즈 하단 띠 영역 */
.f-partner{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.fp-logo-ul li{
  width: 100%;
  padding: 0 10px;
}
.fp-logo-ul img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fp-logo-ul li.ats-size{
  width: 56%;
}
.fp-logo-ul li.zab-size{
  width: 56%;
}
.fp-logo-ul li.mat-size{
  width: 80%;
}

/* 푸터영역 */
footer{
  background: linear-gradient(-180deg, rgba(55,158,159,1) 0%, rgba(46,100,101,1) 100%);
  height: 300px;
  color: #fff;
  font-size: 12px;
}
.f-top {
  justify-content: space-between;
  height: 80%;
  padding: 50px 0 120px;
}
.f-top li{
  font-size: 12px;
}
h1.f-logo{
  height: 30px;
}
h1.f-logo img{
  height: 100%;
}
.f-top-link a{
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
}
.f-top-link a:last-child{
  padding-right: 0;
}
.f-btm {
  height: 20%;
  border-top: 1px solid #eee;
  justify-content: space-between;
  padding-top: 20px;
}
.f-btm h2{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.f-btm .copy{
  margin-right: 50px;
}
.sns-link{}
.sns-link li{
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.sns-link img{
  display: block;
  object-fit: contain;
  width: 100%;
}

/* 반응형 */
/* @media (min-width: 375px) and (max-width: 768px) */
@media (max-width: 768px) {
  header{
    height: 50px;
    padding-bottom: unset;
  }
  header .inner {
    align-items: center;
    position: relative;
  }
  h1.h-logo{
    height: 20px;
  }
  .btn-menu {
    background: url(/img/btn-menu.png) no-repeat;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 40px;
    width: 30px;
    height: 15px;
    transform: translateY(-50%);
    border: 1px solid red;
  }
  .gnb-box{
    display: none;
  }
  .gnb-mob-box{
    width: 250px;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    right: -300px;
    z-index: 100;
    background: var(--color-main);
    padding-top: 15px;
    padding-left: 20px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease 0s;
  }
  .gnb-mob-box.on{
    right: 0;
    opacity: 1;
    pointer-events: auto;
}
  .gnb-mob-box li{
    padding: 10px 0;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
  }
  .btn-menu-close{
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
  }
  .btn-menu-close a{
    display: block;
    height: 30px;
    width: 30px;
  }
  .btn-menu-close img{
    display: inline-block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .main-banner {
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }
  .main-banner .banner-1{
    flex-direction: column;
  }
  .main-banner img{
    width: 280px;
    margin: 0 auto;
  }
  .banner-wrap {
    margin-left: 0;
    margin-top: 30px;
  }
  .main-banner .banner-1 p {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.25em;
    text-wrap-mode: nowrap;
    text-align: center;
  }
  .banner-1 .btn-learn {
    margin: 0 auto;
  }
  .m-product {
    margin: 50px 0;
  }
  .m-product h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  .product-ul{
    flex-direction: column;
  }
  .product-ul .context-box {
    margin-left: 0;
  }
  .product-ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .product-ul span {
    font-size: 13px;
    right: 8px;
    top: 1%;
    left: unset;
}
  .product-ul h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
  }
  .product-ul h3:last-child {
    font-size: 20px;
  }
  .product-ul h3 i {
    font-size: 15px;
  }
  .product-ul p {
    font-size: 14px;
    margin: 10px 0;
  }
  .product-ul .btn-read {
    border-radius: 25px;
    width: 160px;
    height: 40px;
    background-color: var(--color-main);
    color: #fff;
    margin: 20px 0 40px;
  }
  .m-service{
    background-color: transparent;
    margin-bottom: 30px;
  }
  .m-service span{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
  }
  .m-service h3 {
    font-size: 19px;
    font-weight: 600;
  }
  .m-service p{
    font-size: 14px;
  }
  .service-ul {
    flex-direction: column;
    align-items: center;
  }
  .service-ul li {
    margin: 20px;
    width: 80%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
  }
  .service-ul img {
    width: 80%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .service-ul span {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .m-service .btn-lrn {
    color: #fff;
    background-color: var(--color-main);
  }
  .partner-station{
    border: 1px solid red;
  }
  .partner-ul{
    border: 1px solid blue;
  }
  .partner-ul a{
    display: block;
  }
  .swiper2.swiper-button-next{border: 1px solid red;}
  .swiper2.swiper-button-prev{border: 1px solid red;}
  .m-partner {
    margin-bottom: 100px;
  }
  .m-partner h3 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  .m-partner p {
    text-align: center;
    font-size: 14px;
  }
  .m-customer h3 {
    font-size: 28px;
  }
  .m-customer p {
    font-size: 14px;
  }
  .cus-bar{
    display: none;
    width: 100%;
  }
  .cus-bar-mob{
    display: flex;
  }
  .cus-bar li {
    font-size: 12px;
    border-radius: 50px;
    padding: 6px 10px;
    margin: 8px 0;
    font-weight: 500;
  }
  .cus-logo{
    width: 100%;
    margin-bottom: 50px;
  }
  .grid-ul {
    grid-template-columns: repeat(2, 1fr);
  }
  article {
    background: url(/img/contact-banner.png) 40% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  article p {
    font-size: 22px;
    font-weight: 600;
    padding-top: 50px;
  }
  footer {
    height: 400px;
    font-size: 12px;
  }
  .f-top {
    justify-content: space-between;
    padding: 0;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
  } 
  h1.f-logo {
    height: 30px;
    order: 2;
    margin-bottom: 20px;
  }
  .f-top-link {
    order: 1;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  .f-top-link a {
    padding: 0;
    margin-right: 20px;
    font-weight: 400;
  }
  .f-btm {
    border-top: unset;
    /* justify-content: space-between; */
    /* padding-top: 20px; */
    flex-direction: column;
  }
  .info-box{
    flex-direction: column;
  }
  .f-btm h2 {
    display: none;
  }
  .sns-link{
    margin-top: 50px;
  }
  .sns-link li {
    margin-left: 0;
  }
}